[Desktop Entry]
Version=1.0
Type=Application
Name=Discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=/usr/share/discord/Discord --no-sandbox
Icon=discord
Path=
Terminal=false
StartupNotify=false
