[Desktop Entry]
Version=1.0
Type=Link
Name=Life of Jesus
Comment=
Icon=/home/headless/Images/jesus.png
URL=https://the-sunshining.github.io/SunBible/TheLifeofJesusMinistry/
