[Desktop Entry]
Version=1.0
Type=Link
Name=Slack
Comment=
Icon=/home/headless/Images/slack.png
URL=https://app.slack.com/client/T02PEJZJ59N/C02NMUV8C7P
