[Desktop Entry]
Version=1.0
Type=Application
Name=Zeal
Comment=Simple API documentation browser
Exec=zeal %u
Icon=zeal
Path=
Terminal=false
StartupNotify=false
